html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: gray;
}

*,
a,
p {
    text-decoration: None;
    color: #efefef;
    user-select: none;
    /* cursor: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8' width='10px' height='10px'><circle cx='4' cy='4' r='4' fill='white' /></svg>") 4 4, auto !important; */
}

header {
    color: #fff;
    height: 60px;
    padding: 10px;
}

.topnav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.topnav li {
    float: left;
}

.topnav li a {
    display: block;
    color: #fff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}


.fa {
    font-size: 10px;
}

section {
    margin-left: 200px;
    padding: 20px;
    overflow: hidden;
}

h1 {
    font-size: 36px;
    margin-top: 0;
}

footer {
    text-align: center;
    height: 46px;
    backdrop-filter: blur(10px);
    background: rgb(0 0 0 / 25%);
}
