html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #333;
    overflow: hidden;
}

header {
    color: #fff;
    height: 60px;
    padding: 10px;
}

.topnav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.topnav li {
    float: left;
}

.topnav li a {
    display: block;
    color: #fff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.sidenav {
    background-color: #f1f1f1;
    width: 200px;
    height: 100%;
    position: fixed;
    top: 60px;
    left: 0;
    overflow-x: hidden;
    padding-top: 20px;
}

.sidenav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.sidenav li a {
    display: block;
    color: #333;
    padding: 8px 16px;
    text-decoration: none;
}

section {
    margin-left: 200px;
    padding: 20px;
    overflow: hidden;
}

h1 {
    font-size: 36px;
    margin-top: 0;
}

footer {
    text-align: center;
    height: 46px;
    backdrop-filter: blur(10px);
    background: rgb(0 0 0 / 25%);
}

.power {
    line-height: 46px;
    color: #eeeeee;
    animation: fade;
    -webkit-animation: fade 0.75s;
    -moz-animation: fade 0.75s;
    -o-animation: fade 0.75s;
    -ms-animation: fade 0.75s;
}